/* override fonts urls (-_-) */
@font-face {
    font-family: 'FontAwesome';
    src: url('bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('bower_components/bootstrap/fonts/fonts/glyphicons-halflings-regular.eot');
    src: url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*#region layout */

html, body {
    height: 100%;
    overflow: auto;
}

body {
    background-image: url(content/images/auth-background.jpg), url('../images/auth-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

    body > form {
        position: relative;
        min-height: 100%;
    }

nav.navbar {
    background-color: #337ab7;
    border-color: #1c73a5;
    border-radius: 0;
    padding: 7px 16px 7px 16px;
}

.nav.navbar-nav {
    margin: 0;
    padding: 0;
    float: left;
}

.navbar-nav > li > a.btn {
    padding: 6px 12px;
}

.amt {
    padding-top: 30px;
}

.by {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ol.breadcrumb {
    margin: 0;
    background-color: transparent;
}

    ol.breadcrumb > li > a {
        color: white;
    }

.search-wrapper {
    padding: 0 15px 0 15px;
}

    .search-wrapper .input-group {
        width: 250px;
    }

.body-content {
    position: relative;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}

button.profile {
    box-shadow: none;
    padding: 0;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 7px;
    width: 34px;
    height: 34px;
}

img.profile {
    border-radius: 7px;
    max-width: 34px;
    max-height: 34px;
}

.dropdown-menu.left-menu {
    right: 0;
    left: auto;
}

.btn.btn-transparent-white {
    border-color: white;
    background-color: transparent;
    color: white;
}

    .btn.btn-transparent-white:hover,
    .btn.btn-transparent-white:focus {
        border-color: #e8e4e4;
        background-color: transparent;
        color: #e8e4e4;
    }

@media (min-width: 768px) {
    .by {
        width: 750px;
    }

        .by .navbar-nav > li > a {
            padding-top: 8px;
            padding-bottom: 5px;
        }
}

@media (min-width: 992px) {
    .by {
        width: 990px;
    }
}

@media (min-width: 1260px) {
    .by {
        width: 1230px;
    }
}

@media (min-width: 1530px) {
    .by {
        width: 1530px;
    }
}

/*#endregion */

/*#region common */

a {
    cursor: pointer;
}

    a.underline-fix:focus,
    a.underline-fix:hover {
        text-decoration: none;
    }

        a.underline-fix:hover :only-child {
            text-decoration: underline;
        }

img {
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    vertical-align: middle;
}

li.list-group-item {
    overflow: auto;
}

.font-15 {
    font-size: 15px;
}

.font-17 {
    font-size: 17px;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.white {
    color: white;
}

body .form-control {
    font-size: 18px;
}

    body .form-control.input-sm {
        font-size: 14px;
    }

div.form-group > input[type="checkbox"] + label {
    font-weight: normal;
    font-size: 17px;
    margin-left: 15px;
}

/*#endregion */

/*#region table */

table.table-no-border,
table.table-no-border th,
table.table-no-border td {
    border: none;
}

table.table-custom {
    border: none;
    margin: 0;
}

    table.table-custom > tbody > tr.table-header {
        border: none;
    }

        table.table-custom > tbody > tr.table-header > th {
            border: none;
        }

    table.table-custom > tbody > tr {
        border: 1px solid #ddd;
    }

        table.table-custom > tbody > tr > td {
            border: none;
            padding: 10px 15px;
        }

table,
table tr,
table tr td,
table tr th {
    border: 0;
}

/*#endregion */

/*#region navigation */

div.navigation > ol {
    padding: 0;
}

/*#endregion */

/*#region grid-view pagination */

tr.grid-pagination table td:first-child a,
tr.grid-pagination table td:first-child span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

tr.grid-pagination table td:last-child a,
tr.grid-pagination table td:last-child span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

tr.grid-pagination a,
tr.grid-pagination span {
    position: relative;
    float: left;
    margin-left: -1px;
    padding: 3px 6px;
    line-height: 1.42857143;
}

tr.grid-pagination span {
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color: #fff;
}

tr.grid-pagination a {
    border: 1px solid #ddd;
    color: #337ab7;
    background-color: #fff;
    text-decoration: none;
}

/*#endregion */

/*#region categories */

div.category-info {
    overflow: auto;
}

div.categorySubjects-container {
    padding: 0 1px 0 0;
}

/*#endregion */

/*#region posts */

div.post-wrapper {
    margin-bottom: 0px;
}

    div.post-wrapper div.post-info {
        padding: 5px;
        text-align: center;
    }

        div.post-wrapper div.post-info div.thumbnail {
            margin: 0;
        }

            div.post-wrapper div.post-info div.thumbnail img {
                position: relative;
                border-radius: 50px;
                display: inline;
            }

    div.post-wrapper div.post-text-wrapper {
        padding: 5px 5px 0 5px;
    }

        div.post-wrapper div.post-text-wrapper div.post-text {
            padding: 5px;
            border-radius: 4px;
            background-color: white;
        }

/*#endregion */

/*#region auth */

#formAuth {
    display: table;
    width: 100%;
    height: 100vh;
}

    #formAuth #auth-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

        #formAuth #auth-wrapper > div:first-of-type {
            width: 300px;
            margin: 0 auto;
        }

/*#endregion */
